@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
}
ul, li {
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    position: relative;
    background: #11101d;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #181818;
    padding: 6px 14px;
    z-index: 100;
    font-family: "Poppins", sans-serif;
}

.sidebar.active{
    width: 240px;
}
.sidebar .logo_content .logo{
color: #fff;
display: flex;
height: 50px;
width: 100%;
align-items: center;
justify-content: center;
opacity: 0;
pointer-events: none;
}

.logo_content i{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
}

.sidebar #btn_menu{
    position: absolute;
    left: 50%;
    top: 6px;
    color: #fff;
    font-size: 20px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn_menu{
left: 90%;
}

.sidebar ul{
    margin-top: 20px;
}
.bx-search-alt-2{
    opacity: 0;
}

.sidebar.active .bx-search-alt-2{
    opacity: 1;
    border: none;
    color: #fff;
    font-size: 18px;
cursor: pointer;
}
.sidebar .nav_list input{
    opacity: 0;
}

.sidebar.active .nav_list input{
    opacity: 1;
    height: 30px;
    padding: 5px;
    background: #181629;
    color: #fff;
    border: none;
}

.sidebar ul li{
    list-style: none;
    width: 100%;
    height: 50px;
    position: relative;
    line-height: 50px;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 12px;
    text-decoration: none;
    transition: all 0.4s ease;
    white-space: nowrap;
}
.sidebar ul li a:hover{
    background: #fff;
    color: #11101d;
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    text-align: center;
    line-height: 50px;
}
.sidebar .link_name{
    opacity: 0;
    pointer-events: none;
}
.sidebar.active .link_name{
    opacity: 1;
    pointer-events: auto;
}

.sidebar.active ~ .page-outer{
    width: calc(100% - 240px);
    left: 240px;
}
/* .open-menu{
    display: none;
} */




@media screen and (max-width: 1000px) {
    .sidebar{
        display: none;
        opacity: 0;
    }

    /* .open-menu{
        display: block;
        position: fixed;
        top: 10px;
        width: 50px;
        height: 50px;
        left: 5px;
        color: bisque;
        z-index: 1;
    }
    .open-menu i{

    } */
}

.container{
    max-width: 1500px;
    margin: 0 auto;
}

.layer{
    background: url('../img/parallax/pngegg.png') center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    width: 110%;
    height: 100%;
}
.logo{
    display: flex;
    flex-direction: column;
  
}

.logo img{
    height: 100px;
    margin-top: 10px;
}

.logo span {
    color: #fff;
    margin-top: 1px;
    font-size: 2.7rem;
}

@media (max-width: 1160px) {
   
    #section-home{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
    }

}




@keyframes phoneMenuItems {
    from{
        border-bottom: 2px solid #000;
        font-size: 15px;
    }

    to{
        border-bottom: 4px solid #000;
        font-size: 30px;
    }
}

#section-home{
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #181818;
}
.page-outer{
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

@media screen and (max-width: 1000px) {
    .page-outer {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        transition: all 0.5s ease;
    }
}

.text-zone{
    padding-left: 5rem;
    z-index: 1;
}

.text-zone h1{
    font-weight: 400;
    font-size: 10vw;
    position: relative;
}


@media (max-width: 1160px){
    .text-zone h1{
        text-align: center;
    }
}

@media (max-width: 767px){
    .text-zone h1{
        font-weight: 400;
        font-size: 12vw;
        position: relative;
    }
}


.blind{
    transition: 0.15s;
    cursor: default;
    display: inline-block;
    text-shadow: #08fdd8 0 0 25px
}

.blind:hover{
   color: #08fdd8;
    transform: scale(1.1, .8);
    text-shadow: 10px 10px 12px black, 0 0 0.5em rgb(255, 255, 255);
  
}




.text-zone p{
    font-size: 3.3vw;
    letter-spacing: 4px;
    margin-top: 3rem;
    display: block;
    color: #8d8d8d;
}

.section-full{
 min-height: 100vh;
 opacity: 1;
}

.scroll-down{
    visibility: visible;
    opacity: 1;
    position: absolute;
    right: 10px;
    bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #fff;
    left: 10px;
    font-weight: bold;
    font-family: monospace;
    animation-name: scrollDown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    z-index: 2;
}
.scroll-down.active{
    visibility: hidden;
    opacity: 0;
}
@keyframes scrollDown {
    0%{
        transform: translateY(15px);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(15px);
    }
}

@media (max-width: 587px){
    #section-home{
        justify-content: center;
    }

    .text-writer{
        text-align: center!important;
    }
    .text-zone p{
        text-align: start;
        color: #fff;
        margin-bottom: 20px;
        font-weight: bold;

    }
    .text-zone{
        
        padding: 0;
    }
   

    

    
}


#sound {
    border-radius: 3px;
    padding: 5px;
    right: 20px;
    position: fixed;
    z-index: 99999;
    top: 20px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;
    /* pointer-events: none; */
    background: rgba(0,0,0,.3);
}

.fa-soundcloud{
    margin-right: 10px;
}

.sound-state{
    cursor: pointer;
    font-weight: 900;
    font-family: system-ui;

}

.music-off{
    color: red;
}

.music-on{
    color: green;
}

.section-full{
    min-height: 60vh;
   
    opacity: 1;
}

.section-work {
    font-family: "Open Sans",sans-serif;
    background-color: #181818;
    color: #fff;

}

.section-work .my-portfolio_content {
   display: flex;
   align-items: flex-end;
}



.section-work .text-zone p {
    font-family: "Open Sans",sans-serif;
    font-size: 0.9rem;
    color: #fff;
    padding: 15px;
    width: 75%;
}

#my-work{
    padding-bottom: 40px;
}


.text-zone h2{
    font-weight: 400;
    font-size: 4vw;
    position: relative;
    color: #08fdd8;
}

@media (max-width: 1160px){
    .section-work{
        margin: 0;
    }
}

@media (max-width: 910px){
    .section-work .my-portfolio_content{
        display: block;
    }

    .section-work .text-zone h2{
        font-size: 2.9rem;
        text-align: center;
    }

    .section-work .text-zone p{
        width: 100%;
    }

    .flat-button{
        margin: 0 auto;
    }

    .section-work .text-zone{
        padding-left: 1rem;
    }
}

.my-work{
    background-color: #181818;
}

.my-work_container{
    position: relative;
    display: flex;
    justify-content: space-around;
}

.my-work_container .card{
    position: relative;
    cursor: pointer;
}

.my-work_container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}



.my-work_container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.my-work_container .card:hover .face.face1{
    background: #08fdd8;
    transform: translateY(0);
}



.my-work_container .card .face.face1 .content{
    opacity: 1;
    transition: 0.5s;
}

.my-work_container .card .face.face1 .content img{
    max-width: 100px;
}

.my-work_container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.my-work_container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.my-work_container .card:hover .face.face2{
    transform: translateY(0);
}

.my-work_container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.my-work_container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.my-work_container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}


@media screen and (max-width: 1000px) {
    .my-work_container{
        flex-direction: column;
    }

    .my-work_container .card{
        margin: 0 auto;
    }

    .my-work_container .card .face{
        max-width: 270px;
    }
}


@media (min-width: 590px){
    .section-full{
        min-height: 40vh;
    }
  
}



.section-about {
    display: flex;
    font-family: "Open Sans",sans-serif;
    background-color: #181818;
    color: #fff;
    padding-bottom: 40px;
}

.section-about .my-img{
    background-image: url(../img/about.png);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}



a.flat-button{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
   font-weight: bold;
}
a.flat-button:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}

a.flat-button span{
    position: absolute;
    display: block;
}
a.flat-button span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a.flat-button span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a.flat-button span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


a.flat-button span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

@media screen and (max-width: 1000px) {
    a.flat-button {
        position: relative;
        display: block;
        text-align: center;
        margin: 0 auto;
        color: #03e9f4;
        margin-right: 0;
    }
}



.section-about .text-zone p {
    font-family: "Open Sans",sans-serif;
    font-size: 0.9rem;
    color: #fff;
    padding: 5px;
    width: 70%;
    margin-top: 1rem;
}




.text-zone h2{
    padding-top: 45px;
    font-weight: 400;
    font-size: 4vw;
    position: relative;
    color: #08fdd8;
}

@media (max-width: 1160px){
    
}

@media screen and (max-width: 1000px) {
    .section-about{
        margin: 0;
        flex-direction: column;
    }

    .section-about .text-zone{
        padding: 10px;
        text-align: center;
    }

    .section-about .text-zone p{
     width: 100%;
    }
}

@media (max-width: 910px){
    .section-about .my-portfolio_content{
        display: block;
    }

    .section-about .text-zone h2{
        font-size: 2.9rem;
        text-align: center;
    }

    .section-about .text-zone p{
        width: 100%;
    }

   

    .section-about .text-zone{
        padding-left: 1rem;
    }
}

.section-contact{
    background-color: #181818;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.section-contact .text-zone p {
    font-family: "Open Sans",sans-serif;
    font-size: 0.9rem;
    color: #fff;
    padding: 5px;
    margin-bottom: 20px;
    width: 55%;
}


.section-contact .flex{
    display: flex;
}

.contact-form input{
    margin-right: 20px;
    margin-bottom: 20px;
}

.section-contact .half input{
    border: 0;
    background: #2b2b2b;
    height: 50px;
    font-size: 16px;
    color: #8d8d8d;
    padding: 0 20px;
}

.section-contact .text-zone{
    margin-right: 20px;
}

.section-contact .input__subject{
    width: 100%;
    border: 0;
    background: #2b2b2b;
    height: 50px;
    font-size: 16px;
    color: #8d8d8d;
    padding: 0 20px;
}

.contact-form textarea {
    width: 100%;
    border: 0;
    background: #2b2b2b;
    height: 50px;
    font-size: 16px;
    color: #8d8d8d;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 150px;
}


.section-contact .contact-map {
    width: 100%;
    height: 100vh;
    position: relative;
}

.section-contact .inf-map{
    position: absolute;
    background: rgba(0,0,0,.9);
    top: 50px;
    left: 5rem;
    z-index: 9999;
    width: 230px;
    padding: 20px;
    color: #fff;
    font-family: "Open Sans","Helvetica",Arial,sans-serif;
    font-size: 17px;
    font-weight: 300;
    opacity: 1;
}


@media (max-width: 1160px) {
    .section-contact{
        margin-left: 0px;
    }
}

@media (max-width: 940px) {
    .section-contact{
        display: block;

    }

    .section-contact .text-zone{
        margin-bottom: 40px;
    }

    .section-contact .contact-map{
    height: 440px;
    background-repeat: no-repeat;
    /* margin-bottom: 40px; */
    background-position: center;
    }

    .section-contact .text-zone{
        padding-left: 1rem;
    }
    .section-contact .text-zone p{
        width: 100%;
        padding: 5px;
        text-align: center;
    }

    .submit {
        margin-top: 20px;
    }


    .section-contact .text-zone h2{
        font-size: 2.9rem;
        text-align: center;
    }
}

@media (max-width: 543px) {
    .section-contact .flex {
        display: block;
    }

    .section-contact .half input{
        width: 100%;
    }
}